{% extends './base.html' %}
<html lang="en" class="h-100">

{%block title%}Reports{% endblock %}

{%block customCSS%}
<link rel="stylesheet" href="{{url_for('static',filename='css/report.css') }}">

{% endblock %}
{%block body%}
<body class="d-flex h-100 text-center text-white bg-dark">
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">Orchestrator</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link" aria-current="page" href="{{ url_for('home')}}">Home</a>
            <a class="nav-link" href="{{ url_for('dashboard')}}">Dashboard</a>
            <a class="nav-link" href="{{ url_for('robots')}}">Robots</a>
            <a class="nav-link" href="{{ url_for('status')}}">Status  </a>
            <a class="nav-link active" href="{{ url_for('reports')}}">Reports  </a>
            <a class="nav-link btn-info" href="{{ url_for('logout')}}">Logout</a>
          </nav>
        </div>
      </header>

      <main class="px-3">
       
        <h3>Reporte de procesamiento :  {{ report.reportname }}</h1>
          <br>
        <table class="table table-dark">
          <thead>
          <tr> 
          {% for header in headings %}
            <th scope="col">{{header}}</th>
          {% endfor %}
          </tr>
          </thead>
          <tbody></tbody>
          {% for log in report.logs %}
          
            {% if log.status == "Ok" %}
            <tr>
              <td>{{log.id}}</td>
              <td>{{log.flow}}</td>
              <td>{{log.message}}</td>
                  <td>{{log.time}}</td>
                  <td class="bg-success">{{log.status}}</td>
                  <td>{{log.report.robot.robotname}}</td>
            </tr>
              
              {% else %}
                <tr>
                  <td>{{log.id}}</td>
                  <td>{{log.flow}}</td>
                  <td>{{log.message}}</td>
                  <td>{{log.time}}</td>
                  <td class="bg-danger">{{log.status}}</td>
                  <td>{{log.report.robot.robotname}}</td>
                </tr>
              {% endif %}
                
          {% endfor %}
          </tbody>
          
        </table>
      </main>
    
      <footer class="mt-auto text-white-50">
        <p>Desde VR4, para nuestros clientes.</p>
      </footer>
      
       
    </div>


{% endblock %}
