{% extends './base.html' %}
<html lang="en" class="h-100">

{%block title%}Robots{% endblock %}

{%block customCSS%}
<link rel="stylesheet" href="{{url_for('static',filename='css/robots.css') }}">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">



  $(document).ready(function() {
    
    var socket = io.connect("http://127.0.0.1:5000");

      socket.on("connect", function(){
        socket.send("user has connected");
      });

      socket.on("message", function(msg){
        $("#messages").append("<li>" + msg+"</li>")
        console.log("received message");
        console.log(msg)

      });

    $("#sendbutton").on("click", function() {
      socket.send($("#myMessage").val());
      $("myMessage").val("");
    });

  });



</script>
{% endblock %}
{%block body%}
<body class="d-flex h-100 text-center text-white bg-dark">
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">Orchestrator</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link" aria-current="page" href="{{ url_for('home')}}">Home</a>
            <a class="nav-link" href="{{ url_for('dashboard')}}">Dashboard</a>
            <a class="nav-link active" href="{{ url_for('robots')}}">Robots</a>
            <a class="nav-link" href="{{ url_for('status')}}">Status  </a>
            <a class="nav-link" href="{{ url_for('reports')}}">Reports  </a>
            <a class="nav-link btn-info" href="{{ url_for('logout')}}">Logout</a>
          </nav>
        </div>
      </header>


      <table class="table table-striped table-dark ">
        <thead>
        <tr>
        {% for header in headings %}
          <th scope="col">{{header}}</th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for robot in current_user.robots %}
        <tr>
          
          <td>{{robot.id}}</td>
          <td>{{robot.robotname}}</td>
          <td>{{robot.description}}</td>
          <td>{{robot.status}}</td>
        

          <td>
            <a href="{{url_for('robotReports', id=robot.id)}}" class="btn btn-sm btn-info">
              <div style="height:100%;width:100%">
                View Reports!
              </div>
            </a>
          </td>
          <td>
            <input type="hidden" id="myMessage" value="Trigger">
            <button id="sendbutton">Play</button>
          </td>
        </tr>
        {% endfor %}
        </tbody>
        
      </table>

      <body>

        <div class="container">
            <div class="card">
                <div class="imgBx">
                    <img src="static/img/robot.png" alt="nike-air-shoe">
                </div>
    
                <div class="contentBx">
    
                    <h2>Adquirir otro Bot</h2>
    
                    <a href="https://www.vr4it.com">Buy Now</a>

                </div>
                
            </div>
        
      </div>

    </body>

    
    
    
      <footer class="mt-auto text-white-50">
        <p>Desde VR4, para nuestros clientes.</p>
      </footer>
      
       
    </div>


{% endblock %}
